<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chefcenter">
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/cclogo"
        android:label="Chef Center"
        android:roundIcon="@mipmap/cclogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Upload_Recipe"></activity>
        <activity android:name=".DescriptionActivity" />
        <activity android:name=".HomepageActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>